<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Postcode Checker</title>
</head>
<body>
<form action="check">
	Enter the postcode to check.
	<br>
	<input type="text" name="postcode">
	<br>
	<input type="submit"/>
</form>
</body>
</html>