<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Postcode Checker</title>
</head>
<body>
<form action="show">
	Enter the postcode to check.
	<br>
	<input type="text" name="postcode">
	<br>
	<input type="submit"/>
</form>
<br>
<% if @result.present? %>
	<%= @result %>
<% end %>
<br>
</body>
</html>